<div class="stat-block birthday-list">
	<p>
		{% EVENT index_body_block_birthday_prepend %}

		{% if birthdays %}
			{{ lang('CONGRATULATIONS') ~ lang('COLON') }}
			<strong>
				{% for item in birthdays %}
					{{ item.member ~ (item.age ? ' (' ~ item.age ~ ')') }}{{ not loop.last ? ', ' }}
				{% endfor %}
			</strong>
		{% else %}
			{{ lang('NO_BIRTHDAYS') }}
		{% endif %}

		{% EVENT index_body_block_birthday_append %}
	</p>
</div>
