<div class="gzo-tab-panel-row">
	{% EVENT gzo_birthday_prepend %}

	{% if birthdays %}
		<h4 class="gzo-tab-panel-title">{{ lang('CONGRATULATIONS') ~ lang('COLON') }}</h4>
			<span class="gzo-tab-panel-text">
				{% for item in birthdays %}
					{{ item.member ~ (item.age ? ' (' ~ item.age ~ ')') }}{{ not loop.last ? ', ' }}
				{% endfor %}
			</span>
		{% else %}
			{{ lang('NO_BIRTHDAYS') }}
	{% endif %}

	{% EVENT gzo_birthday_append %}
</div>
