<div class="stat-block statistics">
	<p>
		{% EVENT index_body_block_stats_prepend %}

			{{ lang('TOTAL_POSTS_COUNT', TOTAL_POSTS) }} &bull; {{ lang('TOTAL_TOPICS', TOTAL_TOPICS) }} &bull; {{ lang('TOTAL_USERS',TOTAL_USERS) }} &bull; {{ lang('NEWEST_USER', NEWEST_USER) }}

		{% EVENT index_body_block_stats_append %}
	</p>
</div>
