{% from 'macros/tags.twig' import icon %}

<li class="c-gzo-ms1" data-last-responsive="true">
	<a href="{{ tab.link }}" title="{{ lang(tab.title) }}">
		{{ icon('icon', 'bug fa-fw') }}<span>{{ lang(tab.title) }}</span>
	</a>
</li>
