{% from 'macros/tags.html' import icon %}

<li class="t-gzo-ms1" data-last-responsive="true">
	<a href="{{ tab.link }}" title="{{ lang(tab.title) }}">
		<span>{{ lang(tab.title) }}</span> {{ icon('icon', 'bug fa-fw') }}
	</a>
</li>
