{% embed '@ganstaz_gzo/includes/block-item.twig' %}
	{% from '@ganstaz_gzo/macros/tags.twig' import icon, url %}

	{% block block_heading %}{{ lang('RECENT_POSTS') }}{% endblock %}

	{% block block_mid_content %}
		<ul class="c-no-style t-no-style">

			{% for recent in recent_posts %}
				<li>{{ icon('icon', 'file-o fa-fw icon-red', null, lang('IN_TOPIC')) ~ url({'href': recent.link}, recent.title) }}</li>
			{% endfor %}

		</ul>
	{% endblock %}

{% endembed %}
