{% embed '@ganstaz_gzo/includes/block-item.twig' %}
	{% block block_title %}{{ lang('RECENT_TOPICS') }}{% endblock %}

	{% block block_content %}
		<ul class="gzo-block-stats">
			{% for post in recent_topics %}
				<li>
					{{ Icon('gzo', 'mdi--file-outline', lang('IN_TOPIC'), true) ~ link({'href': post.link, 'title': post.title}, '', post.title) }}
				</li>
			{% endfor %}
		</ul>
	{% endblock %}

{% endembed %}
