{% extends '@ganstaz_web/layout/acp-base.html' %}

{% block acp_heading %}
	{{ lang('ACP_GZ_WEB') }}
{% endblock %}

{% import '@ganstaz_web/macros/forms.html' as form %}

{% block acp_form_content %}

	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>

		<dl>
			<dt><label>{{ lang('GZ_VERSION') ~ lang('COLON') }}</label></dt>
			<dd><strong>{{ GZ_VERSION }}</strong></dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_main_fid', lang('MAIN_ID') ~ lang('COLON')) }}</dt>
			{% if S_NEWS_IDS %}
			    <dd>{{ form.select('gz_main_fid', S_MAIN_CURRENT, GZ_NEWS_IDS) }}</dd>
			{% else %}
			    <dd>{{ S_MAIN_CURRENT }}</dd>
			{% endif %}
		</dl>

		<dl>
			<dt>{{ form.label('gz_pagination', lang('GZ_PAGINATION') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_pagination', S_PAGINATION, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_news_fid', lang('NEWS_ID') ~ lang('COLON')) }}</dt>
			{% if S_NEWS_IDS %}
			    <dd>{{ form.select('gz_news_fid', S_NEWS_CURRENT, GZ_NEWS_IDS) }}</dd>
			{% else %}
			    <dd>{{ S_NEWS_CURRENT }}</dd>
			{% endif %}
		</dl>

		<dl>
			<dt>{{ form.label('gz_enable_news_link', lang('ENABLE_NEWS_LINK') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_enable_news_link', S_ENABLE_NEWS_LINK, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_limit', lang('LIMIT') ~ lang('COLON')) }}<br>
				<span>{{ lang('LIMIT_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gz_limit', GZ_LIMIT, '', {'type': 'number', 'min': 0, 'max': 10}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_title_length', lang('TITLE_LENGTH') ~ lang('COLON')) }}<br>
				<span>{{ lang('TITLE_LENGTH_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gz_title_length', MIN_TITLE_LENGTH, '', {'type': 'number', 'min': 0, 'max': 50}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_content_length', lang('CONTENT_LENGTH') ~ lang('COLON')) }}<br>
				<span>{{ lang('CONTENT_LENGTH_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gz_content_length', MIN_CONTENT_LENGTH, '', {'type': 'number', 'min': 0, 'max': 250}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_user_limit', lang('USER_LIMIT') ~ lang('COLON')) }}<br>
				<span>{{ lang('LIMIT_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gz_user_limit', GZ_USER_LIMIT, '', {'type': 'number', 'min': 0, 'max': 10}) }}</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('GZ_SECTIONS') }}</legend>

		<dl>
			<dt>{{ form.label('gz_blocks', lang('GZ_BLOCKS') ~ lang('COLON')) }}<br>
				<span>{{ lang('GZ_BLOCKS_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.radio('gz_blocks', S_BLOCKS, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_special', lang('GZ_SPECIAL') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_special', S_SPECIAL, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_right', lang('GZ_RIGHT') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_right', S_RIGHT, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_left', lang('GZ_LEFT') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_left', S_LEFT, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_middle', lang('GZ_MIDDLE') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_middle', S_MIDDLE, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_top', lang('GZ_TOP') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_top', S_TOP, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gz_bottom', lang('GZ_BOTTOM') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gz_bottom', S_BOTTOM, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>
	</fieldset>

{% endblock %}
