{% extends '@ganstaz_web/layout/acp-base.twig' %}

{% block acp_heading %}
	{{ lang('ACP_GZO_WEB') }}
{% endblock %}

{% import '@ganstaz_web/macros/forms.twig' as form %}

{% block acp_form_content %}

	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>

		<dl>
			<dt><label>{{ lang('GZO_VERSION') ~ lang('COLON') }}</label></dt>
			<dd><strong>{{ GZO_VERSION }}</strong></dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_main_fid', lang('MAIN_ID') ~ lang('COLON')) }}</dt>
			{% if S_NEWS_IDS %}
			    <dd>{{ form.select('gzo_main_fid', S_MAIN_CURRENT, GZO_NEWS_IDS) }}</dd>
			{% else %}
			    <dd>{{ S_MAIN_CURRENT }}</dd>
			{% endif %}
		</dl>

		<dl>
			<dt>{{ form.label('gzo_news_fid', lang('NEWS_ID') ~ lang('COLON')) }}</dt>
			{% if S_NEWS_IDS %}
			    <dd>{{ form.select('gzo_news_fid', S_NEWS_CURRENT, GZO_NEWS_IDS) }}</dd>
			{% else %}
			    <dd>{{ S_NEWS_CURRENT }}</dd>
			{% endif %}
		</dl>

		<dl>
			<dt>{{ form.label('gzo_news_link', lang('ENABLE_NEWS_LINK') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_news_link', S_NEWS_LINK, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_pagination', lang('GZO_PAGINATION') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_pagination', S_PAGINATION, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_profile_tabs', lang('ENABLE_PROFILE_TABS') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_profile_tabs', S_PROFILE_TABS, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_limit', lang('LIMIT') ~ lang('COLON')) }}<br>
				<span>{{ lang('LIMIT_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gzo_limit', GZO_LIMIT, '', {'type': 'number', 'min': 0, 'max': 10}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_title_length', lang('TITLE_LENGTH') ~ lang('COLON')) }}<br>
				<span>{{ lang('TITLE_LENGTH_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gzo_title_length', MIN_TITLE_LENGTH, '', {'type': 'number', 'min': 0, 'max': 50}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_content_length', lang('CONTENT_LENGTH') ~ lang('COLON')) }}<br>
				<span>{{ lang('CONTENT_LENGTH_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gzo_content_length', MIN_CONTENT_LENGTH, '', {'type': 'number', 'min': 0, 'max': 250}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_user_limit', lang('USER_LIMIT') ~ lang('COLON')) }}<br>
				<span>{{ lang('LIMIT_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.input('gzo_user_limit', GZO_USER_LIMIT, '', {'type': 'number', 'min': 0, 'max': 10}) }}</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('GZO_SECTIONS') }}</legend>

		<dl>
			<dt>{{ form.label('gzo_blocks', lang('GZO_BLOCKS') ~ lang('COLON')) }}<br>
				<span>{{ lang('GZO_BLOCKS_EXPLAIN') }}</span>
			</dt>
			<dd>{{ form.radio('gzo_blocks', S_BLOCKS, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_special', lang('GZO_SPECIAL') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_special', S_SPECIAL, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_right', lang('GZO_RIGHT') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_right', S_RIGHT, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_left', lang('GZO_LEFT') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_left', S_LEFT, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_middle', lang('GZO_MIDDLE') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_middle', S_MIDDLE, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_top', lang('GZO_TOP') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_top', S_TOP, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>

		<dl>
			<dt>{{ form.label('gzo_bottom', lang('GZO_BOTTOM') ~ lang('COLON')) }}</dt>
			<dd>{{ form.radio('gzo_bottom', S_BOTTOM, {'yes': lang('ENABLE'), 'no': lang('DISABLE')}) }}</dd>
		</dl>
	</fieldset>

{% endblock %}
