{{ include('overall_header.html') }}

	<div class="c-section-main gzo-wrap-pane postbody">
		<div class="inner mid-content">
		    {% block content %}{% endblock %}
	    </div>
	</div>

	{{ include('overall_footer.html') }}
</div>
