{{ include('@ganstaz_gzo/admin/include/header-item.twig') }}

<div class="c-section-main gzo-wrap-pane postbody">
	{% block content %}{% endblock %}
</div>

{{ include('@ganstaz_gzo/admin/include/footer-item.twig') }}
