{% extends 'layout/base.twig' %}

{% block top_content %}
	<p class="{{ S_CONTENT_FLOW_END }} responsive-center time{{ S_USER_LOGGED_IN ? ' rightside' }}">
		{{ S_USER_LOGGED_IN ? LAST_VISIT_DATE : CURRENT_TIME }}
	</p>
	{% if S_USER_LOGGED_IN %}<p class="responsive-center time">{{ CURRENT_TIME }}</p>{% endif %}
{% endblock %}

{% block section_left %}
	{% if gz_left %}
		<div class="c-section-side c-sec-left">
			{% BLOCKS gz_left %}
		</div>
	{% endif %}
{% endblock %}

{% block content %}

	{% block mid_top %}{% endblock %}

	<div class="inner mid-content">
		{% block mid_content %}{% endblock %}
	</div>

	{% block mid_bottom %}
		{% BLOCKS gz_middle %}
	{% endblock %}

{% endblock %}

{% block section_right %}
	{% if gz_right %}
		<div class="c-section-side c-sec-right">
			{% BLOCKS gz_right %}
		</div>
	{% endif %}
{% endblock %}
