{% extends 'layout/base.twig' %}

{% block top_content %}

	<div class="c-gzo-flex c-gzo-border-bottom" role="navigation">
		<ul id="nav-main" class="c-gzo-nav t-gzo-nav linklist c-gzo-nav-ml" role="menubar">
			{% for tab in tabs %}
				{{ include('includes/tab-item.twig') }}
			{% endfor %}
		</ul>
	</div>

{% endblock %}

{% block content %}

	{% block mid_top %}{% endblock %}

	<div class="inner mid-content">
		{% block mid_content %}{% endblock %}
	</div>

{% endblock %}
