/* GZO Web Default Configurations */
.c-gzo-flex {
	display: flex;
}

.c-gzo-flex-wrap {
	flex-wrap: wrap;
}

.c-gzo-flex-colum {
	flex-direction: column;
}

.c-gzo-container-fluid {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.c-gzo-row {
	flex: 1;
}

.c-gzo-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid #e9ecef;
	border-radius: .25rem;
}

.c-gzo-card-body {
	flex: 1 1 auto;
	padding: 15px;
}

.c-gzo-nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.c-gzo-wrap-pane {
	margin: 15px 0 9px;
}

.c-gzo-wrap-pane h2 {
	font-size: 1.3em;
	color: #115098;
	padding: 2px 0;
	margin: 2px 5px 7px;
}

.c-block {
	margin-bottom: 10px;
}

.c-inner-block {
	padding: 0 2px 3px;
}

/* Post Middle Content */
.c-section-main {
	flex: 3;
}

.c-section-main h3 {
	margin-bottom: 2px;
	font-weight: bold;
	border-bottom: none;
	text-transform: none;
	margin-top: 0;
}

.c-section-main .avatar-container img {
	max-width: 75px;
	max-height: 75px;
}

.c-whos-p {
	margin-bottom: 0;
}

.c-gzo-pagination {
	margin-bottom: 48px;
	padding-right: 8px;
}

/* Side Section */
.c-section-side {
	flex: 1;
}

.c-sec-left {
	margin-right: 10px;
}
.c-sec-right {
	margin-left: 10px;
}

.c-login-avatar {
	text-align: center;
	margin-bottom: 10px;
}

.c-login-avatar img {
	max-width: 100px;
	max-height: 100px;
}

dl.c-gzo-info dt {
	float: left;
	clear: left;
	width: auto;
	text-align: right;
	display: block;
}

dl.c-gzo-info dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

.c-progress-bar {
	width: 118px;
	margin-top: 5px;
	overflow: hidden;
}

.c-progress-meter {
	max-width: 118px;
	height: auto;
}

.c-progress-center {
	width: 118px;
	text-align: center;
}

/* GZO Profile */
.c-gzo-hero {
	width: 300px;
	padding-bottom: 15px;
}

.c-gzo-hero-content {
	flex: 1;
}

.left-box.profile-details {
	width: 100%;
}

ul.linklist.c-gzo-nav-ml {
	margin-left: 300px;
}

dl.details dt {
	width: 20%;
}

dl.details dd {
	width: 75%;
}

dl.details dt.c-gzo-dtw {
	width: 8%;
	color: #536482;
}

dl.details dd.c-gzo-ddp {
	padding-left: 0px;
}

.c-gzo-avatar-wrap {
	position: relative;
	display: flex;
	margin-right: 12px;
}

.c-gzo-avatar-badge {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-bottom: 6%;
	margin-right: 34%;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 2;
	background-color: #ffffff;
	border: 1px solid #d0d7de;
	border-radius: 2em;
	overflow: hidden;
}

.icon.c-gzo-avatar-badge-inner {
	position: relative;
	top: 5px;
	left: 4.5px;
}

.c-gzo-vc-username {
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}

.c-gzo-vc-muted {
	color: #57606a;
}

/* Special Colors */
.red {
	color: #aa0000;
}

.green {
	color: rgb(34, 136, 34);
}

.orange {
	color: rgb(255, 153, 0);
}

.icon-red, a:hover .icon-red {
	color: #bc2a4d;
	font-size: 0.90em;
}

.icon-gold {
	color: rgb(255,215,0);
}

/* GZO Display */
.c-gzo-hide {
	display: none;
}

.c-heading-right {
	float: right;
	display: inline;
}

.c-news-profile {
	width: 18%;
}

@media (max-width: 500px) {
	ul.linklist.c-gzo-nav-ml {
		margin-left: 10px;
	}
}

@media (max-width: 700px) {
	.c-section-main {
		border: none;
		margin: 0;
		width: auto;
		padding: 0 5px;
	}

	.c-section-main, .c-block {
		border-radius: 0;
		margin-left: -5px;
		margin-right: -5px;
	}

	.c-section-side {
		display: none;
	}
}

/* GZO Tabs */
.c-tabs {
	margin: 0;
	line-height: normal;
}

.c-tabs .c-tab {
	display: inherit;
	padding: 2px 5px;
	margin-top: 5px;
	text-align: left;
}

.c-tab-pane {
	display: none;
	padding: 5px 15px;
}

.current {
	display: inherit;
}

.c-tab-icon {
	border-right: 1px solid #C7C3BF;
	margin-right: 9px;
	padding-right: 2px;
}

.c-tabs-profile {
	padding-right: 5px;
	border-right: 1.5px solid #ffffff;
}

.c-gzo-jc-center {
	justify-content: center !important;
}

.c-gzo-border-bottom {
	border-bottom: 1px solid #d0d7de;
}

/* GZO Misc */
.rank-img img {
	max-width: 200px;
}

.c-gzo-rounded {
	border-radius: 50%;
}

.c-gzo-rounded img {
	border-radius: 50%;
	border-style: none;
}

.c-gzo-border {
	border: 1px solid #d0d7de;
	border-radius: 5px;
}

.c-no-style {
	list-style: none;
}

.c-gzo-pane {
	width: inherit;
	float: none;
}

/* GZO Text */
.c-gzo-text-left {
	text-align: left;
}

.c-gzo-text-right {
	text-align: right;
}

.c-gzo-text-center {
	text-align: center;
}

.c-icon-size {
	font-size: 10px;
}

.c-gzo-f-size {
	font-size: 14px;
}

.capitalize {
	text-transform: none;
}

/* GZO Margin */
.c-gzo-ms1 {
	margin: 0px 2px;
}

.c-gzo-mt-2{
	margin-top: 10px;
}

.c-gzo-mt-3 {
	margin-top: 15px;
}

.c-gzo-mt-4 {
	margin-top: 20px;
}

.c-gzo-mr0{
	margin-right: 0px;
}

.c-gzo-mb {
	margin-bottom: 10px;
}

.c-stat-head {
	font-weight: normal;
	color: #115098;
}

/* GZO Prosilver Specific */
.t-gzo-wrap-pane {
	font-size: 1.1em;
}

.t-gzo-wrap-pane h2 {
	font-size: 1.3em;
	color: #115098;
	border-bottom: 1px solid #dbdee3;
}

.t-section-main h3 {
	font-size: 1.3em;
}

.t-progress-bar {
	border: 1px solid #000033;
	background: #fff;
}

.t-progress-meter {
	background: #deebfe;
}

dl.t-gzo-info dt {
	color: #000000;
}

.t-progress-center {
	color: #000033;
}

.icon.t-gzo-avatar-badge-inner {
	right: 2.5px;
	bottom: 3px;
	font-size: 2.6em;
}

.t-no-style {
	font-size: 1.1em;
}
