<li class="list-divider"></li>
<li class="nav-small-cap">
	<span class="hide-menu">{{ lang('QUICK_LINKS') }}</span>
</li>

<!-- EVENT navbar_header_quick_links_before -->

	<!-- IF S_DISPLAY_SEARCH -->
		<!-- IF S_REGISTERED_USER -->
			<li class="sidebar-item">
				<a class="sidebar-link" href="{U_SEARCH_SELF}" role="menuitem">
					<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_SELF}</span>
				</a>
			</li>
		<!-- ENDIF -->

		<!-- IF S_USER_LOGGED_IN -->
			<li class="sidebar-item">
				<a class="sidebar-link" href="{U_SEARCH_NEW}" role="menuitem">
					<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_NEW}</span>
				</a>
			</li>
		<!-- ENDIF -->

		<!-- IF S_LOAD_UNREADS -->
			<li class="sidebar-item">
				<a class="sidebar-link" href="{U_SEARCH_UNREAD}" role="menuitem">
					<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNREAD}</span>
				</a>
			</li>
		<!-- ENDIF -->

		<li class="sidebar-item">
			<a class="sidebar-link" href="{U_SEARCH_UNANSWERED}" role="menuitem">
				<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNANSWERED}</span>
			</a>
		</li>

		<li class="sidebar-item">
			<a class="sidebar-link" href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">
				<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TOPICS}</span>
			</a>
		</li>

		<li class="separator"></li>
		<li class="sidebar-item">
			<a class="sidebar-link" href="{U_SEARCH}" role="menuitem">
				<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>{L_SEARCH}</span>
			</a>
		</li>
	<!-- ENDIF -->

	<!-- IF U_MARK_FORUMS -->
		<li class="sidebar-item">
			<a class="sidebar-link" href="{U_MARK_FORUMS}" role="menuitem" accesskey="m" data-ajax="mark_forums_read">
				<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_MARK_FORUMS_READ}</span>
			</a>
		</li>
	<!-- ENDIF -->

	<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
		<li class="separator"></li>
		<!-- IF S_DISPLAY_MEMBERLIST -->
			<li class="sidebar-item">
				<a class="sidebar-link" href="{U_MEMBERLIST}" role="menuitem">
					<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{L_MEMBERLIST}</span>
				</a>
			</li>
		<!-- ENDIF -->
		<!-- IF U_TEAM -->
			<li class="sidebar-item">
				<a class="sidebar-link" href="{U_TEAM}" role="menuitem">
					<i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{L_THE_TEAM}</span>
				</a>
			</li>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<li class="separator"></li>

<!-- EVENT navbar_header_quick_links_after -->
