{% extends 'layout/profile-base.twig' %}

{% block mid_content %}

	<h2 class="memberlist-title">{{ lang('VIEWING_PROFILE', USERNAME) }}</h2>

	{% EVENT memberlist_view_content_prepend %}

	<form method="post" action="{{ S_PROFILE_ACTION }}" id="viewprofile">

		{% set profile = 'overview' %}

		{% if config('gz_profile_tabs') %}
			{% set profile = 'tabbed' %}
		{% endif %}

		{{ include('includes/profile-' ~ profile ~ '.twig') }}

	</form>

	{% EVENT memberlist_view_content_append %}

	{{ include('jumpbox.html') }}

{% endblock %}
